<div id = 'friends-list-container'>
    <h2>Find Your Friend</h2>
    <%  for(friend of all_users) {%>
        <% if(user.email!= friend.email&&!is_friend[all_users.indexOf(friend)]) {%>
          <%- include('_users_list'); -%>
        <% } %>
    <% } %>
</div>

<!-- <div id = 'chat-boxes'>
</div>

<script>
  new ChatEngine('user-chat-box', '<%= locals.user.email %>','<%= locals.user.id%>','<%= locals.user.name%>');
</script> -->
