<div id = 'friends-list-container'>
    <h2>Messages</h2>
    <%  for(friend of chatrooms) {%>
        <%- include('_chats.ejs'); -%>
    <% } %>
</div>

<div id = 'chat-boxes'>
</div>

<script>
  new ChatEngine('user-chat-box', '<%= locals.user.email %>','<%= locals.user.id%>','<%= locals.user.name%>');
</script>