
  <div class="jumbotron">
    <h1 class="display-4">ErosChat</h1>
    <p class="lead">This is a Indian Social media Web App.</p>
    <hr class="my-4">
    <p>find your friend ,chat with him and enjoy the app</p>
  </div>
  
  <%- include('sign_in'); %>

