
<form class = 'form' action = "/reset-password-email" method ="POST">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email' placeholder="Enter Your Email">
    <button type="submit" class="btn btn-primary form-control" style="margin-bottom: 5px;">Reset</button>
  </form>