
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div class='form'>
    <form action="/users/create-session" method="POST">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email' placeholder="Email">
        <input type="password" class="form-control" id="exampleInputPassword1" name='password' placeholder="Password">
         <button type="submit" class="btn btn-primary form-control" style="margin-bottom: 5px;">Log-in</button>
    </form>
    <br>
      <button class="btn btn-primary form-control bg-light">
        <a href="/users/auth/google/">
          <i class='fab fa-google' style="color: crimson;"></i>
          Sign In With Google
        </a></button>
        <br><br>
      <p><a class ="text-primary"href="/reset-password">forget password</a></p>
  </div>
  <!-- <%- include('_footer'); -%> -->