


<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div class = 'form' id = "sign-up-form">
  <form action="/users/create" method="POST">

      <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" name='name' required placeholder="Enter Your Name">
    
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'required placeholder="Email">

      <input type="password" class="form-control" id="exampleInputPassword1" name='password' required placeholder="Password">
  
      <input type="password" class="form-control" id="exampleInputPassword2" name='conform_password' required placeholder="Conform">
   
       <button type="submit" class="btn btn-primary form-control">Create</button>

  </form>

 
  <button class='form-control'> 
    <a href="/users/auth/google/">
      <i class='fab fa-google' style="color: crimson;"></i>
       Create With Google
    </a>
  </button>
       
</div>
<!-- <%- include('_footer'); -%> -->