<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="/css/plugin.css" />

<div class="form">
  <h2>Log in</h2>
  <form action="/users/create-session" method="POST">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      placeholder="Email"
    />
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
      placeholder="Password"
    />
    <button
      type="submit"
      class="btn btn-primary form-control"
      style="margin-bottom: 5px"
    >
      Log-in
    </button>
  </form>
  <br />
  <button class="btn btn-primary form-control bg-danger">
    <a href="/users/auth/google/" style="text-decoration: none; color: white">
      <i class="fab fa-google" style="color: rgb(248, 245, 245)"></i>
      Login with Google
    </a>
  </button>

  <br /><br />
  <button class="btn btn-primary form-control" style = "background-color: #4141c7;">
    <img src="/images/icons8-facebook-50-2.png" alt="" /><a
      style="text-decoration: none; color:white"
      href="/users/auth/facebook"
      >Login with Facebook</a>
  </button>

  <br /><br />
  <p><a class="text-primary" href="/reset-password">forget password</a></p>
</div>
