<script src="https://kit.fontawesome.com/a076d05399.js"></script>



<div class="form">
  <form action="/users/create-session" method="POST">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      placeholder="Email"
    />
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
      placeholder="Password"
    />
    <button
      type="submit"
      class="btn btn-primary form-control"
      style="margin-bottom: 5px;"
    >
      Log-in
    </button>
  </form>
  <br />
  <button class="btn btn-primary form-control bg-light">
    <a href="/users/auth/google/" style="text-decoration: none; ">
      <i class="fab fa-google" style="color: crimson;"></i>
      Sign In With Google
    </a>
  </button>
  <br /><br />
    <button class="btn btn-primary form-control bg-light">
      <img src="/images/icons8-facebook-50-2.png" alt=""><a style="text-decoration: none; " href="/users/auth/facebook">Continue with Facebook</a>
    </button>
   

  <br /><br />
  <p><a class="text-primary" href="/reset-password">forget password</a></p>
</div>


<!-- <%- include('_footer'); -%> -->

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: "{your-app-id}",
      cookie: true,
      xfbml: true,
      version: "{api-version}",
    });

    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script>
