
<form class = 'form' action="/new-password/<%= token%>" method = 'POST'>
        <input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1" name='password' required>
        <input placeholder="Conform" type="password" class="form-control" id="exampleInputPassword2" name='conformPassword' required>
        <button type="submit" class="btn btn-primary form-control" style="margin-bottom: 5px;">Submit</button>
</form>