 




<!-- main code -->
<script type="text/javascript" src="/js/home_comments.js"></script>
<script type="text/javascript" src="/js/home_likes.js"></script>
<script type="text/javascript" src="/js/home_posts.js"></script>

<% if(locals.user) {%>
<!-- post form section for create a new post -->
<div id="post-container">
    <form action="/posts/create" method="POST" id = "create-post"  enctype="multipart/form-data">
         <textarea id = 'post-content' name="content" type="text" placeholder="Create Post"></textarea>
         <input id = 'upload-post' type = 'file' name = "files" hidden>
         <span id = 'select-img'><img src="https://img.icons8.com/color/30/000000/attach.png"/></span>
         <span id = 'uploaded-file-responce' style="color: rgb(209, 208, 208);"></span>
         <input type="submit" value="Post" class = 'post-btn'>
    </form>

    <ul id="posts-list-container">
        <%  for(i of length) {%>
           <% if(posts[i].user) { %>
               <%- include('_post') -%>
             <%}%>
        <% } %>
    </ul>
</div>



<div id = 'chat-boxes'>
    <!-- <% for(chatroom of chatrooms) {%>
        <%- include('_chat_box.ejs'); %>
    <%}%> -->
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    
     <script>
        $('.toggle-like-button').each(function () {
            let self = this;
            let toggeller = new ToggleLike(self);
        });
      </script>


<script>
    function commentToggler(){
      let toggler = $(".toggle-comments");
      let commentBox = $(".comments-container");
      for (let i = 0; i < toggler.length; i++) {
        let flag = false;
        $(toggler[i]).click(function () {
          
          let toggler = commentBox[i].style.display;
          if (!flag) {
            commentBox[i].style.display = "block";
            flag = true;
          } else {
            commentBox[i].style.display = "none";
            flag = false;
          }
        });
      }
    }
    commentToggler();

  </script>
<% } %>


    
    