#chat-boxes{
         width:100%;
         display: flex;
         flex-direction: row-reverse;
         position: absolute;
         top:9%;
    .user-chat-box{
        position: relative;
        width:100%;
        box-sizing: border-box;
        border-radius: 5px;
       
        
    
        .chatBox-heading{
            position: sticky;
            top:0;
            z-index: 1;
            background-color: white;
            padding: 20px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            display: flex;
            justify-content: space-between;
            div{
                font-size: 40px;
                small{
                    cursor: pointer;
                    img{
                        width:65px;
                    }
                }
            }
        }
        .chat-messages{
           
            background-color: white;
            position: relative;
            list-style: none;
            margin:0;
            padding: 10px 10px 0px 10px;
            height: 65vh;
            overflow-y:scroll;
             
            // p{
            //     padding:10px;
            //     position: relative;
               
            //     .text{
            //         word-wrap: break-word;
            //         margin-right: 2rem;
            //     }
    
            //     .message-time{
            //         color: rgb(112, 112, 112);
            //         font-size: 30px;
            //         position:relative;
            //         right:0;
            //         bottom:-90%;
            //     }
            // }
    
            .other-messages{
                // position: relative;
                // left:0;
                margin-bottom: 2rem;
                p{
                  width:fit-content;
                  max-width:90%;
                  font-size: 40px;
                  background-color: #afffec;
                  font-family:monospace;
                  border-top-right-radius:10px;
                  border-bottom-right-radius: 10px;
                  border-bottom-left-radius: 10px;
                  word-wrap: break-word;
                  padding:10px;
                  .text{
                    margin-right: 2rem;
                   }
    
                  .message-time{
                    color: rgb(112, 112, 112);
                    font-size: 30px;
                   }
                }
             }
             .self-messages{
                 display: flex;
                 flex-direction: row-reverse;
                 margin-bottom: 2rem;
                 p{
                     font-family:monospace;
                     width:fit-content;
                     max-width:90%;
                     font-size: 40px;
                     background-color: rgb(226, 226, 226);
                     border-top-left-radius: 10px;
                     border-bottom-right-radius: 10px;
                     border-bottom-left-radius: 10px;
                     word-wrap: break-word;
                     padding:10px;
                     .text{
                        margin-right: 2rem;
                    }
        
                    .message-time{
                        color: rgb(112, 112, 112);
                        font-size: 30px;
                    }
                 }
        
             }
        }
        .chat-messages::-webkit-scrollbar{
            display: none;
        }
        .chat-form{
            display: flex;
            height:auto;
            margin-bottom:20vh;
            border-radius: 20px;
            margin-left:2rem;
            margin-top:20px;
            
            textarea{
                padding-left: 10px;
                width:90%;
                border:2px solid lightgrey;
                border-radius: 25px;
                font-size: 40px;
            }
            button{
                background-color:rgb(255, 254, 254);
                border:none;
                img{
                    margin-top:-3px;
                    width:7rem;

                }
            }
        }
       
    }
}

@media only screen and (max-width:600px){
    #chat-boxes{
        position: relative;
        bottom: 12%;
        .user-chat-box{
            height:98vh;
            position: absolute;
            width:100%;
            right:0;
            bottom: -27px;
            box-sizing: border-box;
            border-radius: 0;

            .chatBox-heading{
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }
        }
    }
}








