#chat-boxes{
         width:100%;
         display: flex;
         flex-direction: row-reverse;
         position: absolute;
         top:0%;
    .user-chat-box{
        position: relative;
        width:100%;
        box-sizing: border-box;
        border-radius: 5px;
       
        
    
        .chatBox-heading{
            position: sticky;
            top:0;
            z-index: 1;
            background-color: #bebdbe;;
            padding: 20px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            display: flex;
            justify-content: space-between;
            div{
                font-size: 40px;
                small{
                    cursor: pointer;
                    img{
                        width:65px;
                    }
                }
            }
        }
        .chat-messages{
           
            background-color: white;
            border: 1px solid grey;
            position: relative;
            list-style: none;
            margin:0;
            padding: 10px 10px 0px 10px;
            height: 75vh;
            overflow-y:scroll;
             
            p{
                padding:10px;
                .text{
                    word-wrap: break-word;
                    margin-right: 2rem;
                }
    
                .chat-user-name{
                    text-transform: capitalize;
                    color: rgb(112, 112, 112);
                    float:right;
                }
            }
    
            .other-messages{
                width:fit-content;
                position: relative;
                left:0;
                font-size: 40px;
                background-color: #afffec;
                font-family:serif;
                border-top-right-radius:10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                
             }
             .self-messages{
                 display: flex;
                 flex-direction: row-reverse;
                 font-size: 40px;
                 font-family:serif;
                 p{
                     width:fit-content;
                     max-width:90%;
                     background-color: rgb(226, 226, 226);
                     border-top-left-radius: 10px;
                     border-bottom-right-radius: 10px;
                     border-bottom-left-radius: 10px;
                     word-wrap: break-word;
                 }
        
             }
        }
        .chat-messages::-webkit-scrollbar{
            display: none;
        }
        .chat-form{
            width:100%;
            display: flex;
            height:auto;
            border:2px solid rgb(98, 98, 98);
            textarea{
                padding-left: 10px;
                width:90%;
                border:none;
                border-bottom-left-radius: 5px;
                font-size: 40px;
            }
            button{
                background-color:rgb(255, 254, 254);
                border:none;
                img{
                    margin-top:-3px;
                    width:7rem;

                }
            }
        }
       
    }
}

@media only screen and (max-width:600px){
    #chat-boxes{
        position: relative;
        bottom: 12%;
        .user-chat-box{
            height:98vh;
            position: absolute;
            width:100%;
            right:0;
            bottom: -27px;
            box-sizing: border-box;
            border-radius: 0;

            .chatBox-heading{
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }
        }
    }
}








