.form{
    margin: 15% 10%;
    padding: 2rem 3rem;
    background-color: lightgrey;
    border-radius: 5px;
   img{
       width:30px;
       height:30px;
   }
}
@media only screen and (max-width:600px){
    .form{
        margin:0;
    }
}

