#post-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    display: inline-block;
    background-color: lightblue;

    #posts-list-container {
        width: 100%;
        height: 90%;
        list-style: none;
        padding: 0;
        box-sizing: border-box;
        margin-top:1rem;

        li {
            width: 100%;
            height: auto;
            padding: 20px 0px 0px 0px;
            background-color: white;
            box-sizing: border-box;
            margin-bottom: 1rem;
            border-radius: 5px;
            position: relative;

            .post-menu-icon {
                position: absolute;
                top: 0;
                right: 15px;
                transform: rotate(90deg);
                cursor: pointer;
                img{
                    width: 50px;
                    height:50px;
                }
            }
            .post-menu-option {
                position: absolute;
                display: none;
                top: 40px;
                right: 15px;
                padding: 5px;
                border-radius: 3px;
                cursor: pointer;

                button{
                    border: 2px solid lightgray;
                    border-radius: 5px;
                    width: 100%;
                    padding: 5px;
                    font-size: 40px;
                }
            }

            .post-creater {
                font-weight: bold;
                margin: 20px 0 10px 20px;
                img{
                    width:7rem;
                    height:7rem;
                    border-radius: 50%;
                }
                span{
                    font-size: 30px;
                    margin-left: 1rem;
                }
            }
            .post-content {
                width: 100%;
                padding: 20px;
                font-size: 50px;
                margin-bottom: 5rem;


                div>img{
                    width:100%;
                    height:70%;
                    background-size: contain;
                }

                div>video{
                     width:100%;
                     height:60%;
                     background-color: black;
                   
                    
                }
            }
            .post-action {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                padding: 1rem 3rem;
                border-bottom: 1px solid rgb(37, 36, 36);
                border-top:1px solid rgb(37, 36, 36);

                span{
                    a{
                        font-size:38px;
                        text-decoration: none;
                    }
                    margin-right:1rem;
                }
            }
            .post-comments {
                width: 100%;
                padding: 10px;
               
                form {
                    padding: 5px;
                    display: flex;
                    input{
                        padding:3rem;
                        font-size:40px;
                    }
                    .comment {
                        width: 85%;
                        border-radius: 5px;
                        padding: 5px;
                        border: 1px solid lightgray;
                    }
                    button {
                        border: none;
                        background-color: white;
                    }
                }

                .comments-container{
                    list-style: none;
                    padding: 30px;
                    max-height: 30vh;
                    overflow-y: scroll;
                    border-radius: 5px;

                    .comment-list {
                        padding:0px 0px 3rem 2rem;
                        margin-top: 8rem;
                        position: relative;
                        box-shadow: none;
                        margin-bottom: 10px;
                        box-sizing: border-box;

                        div {
                            font-size: 30px;
                            color:rgb(104, 103, 103);
                            font-weight: bold;
                            margin-bottom: 5px;
                            position: absolute;
                            top:-40%;
                            left:-2%;
                            span{
                                img{
                                    width:50px;
                                    height:50px;
                                    border-radius: 50%;
                                }
                            }
                        }
                        p{
                            margin:0px;
                            width:fit-content;
                            background-color: lightgrey;
                            font-size: 35px;
                            padding: 15px;
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                        small {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                        }
                        a{
                            font-size:30px;
                            margin-top:10px;
                            text-decoration:none;
                            i{
                                margin-right:13px;
                                font-size:40px;
                                position: relative;
                                top:0px;
                            }
                        }
                    }
                }

                ul::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    #create-post {
        position: sticky;
        top:0;
        z-index: 2;
        background-color: white;
        box-sizing: border-box;
        padding: 2rem;

        textarea {
            width: 100%;
            font-size: 40px;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 2px solid lightgray;
            border-radius: 5px;
        }
        .post-btn {
            width:13rem;
            border-radius: 5px;
            background-color: rgb(127, 112, 255);
            font-size:30px;
            font-weight: 900;
            color: white;
            float: right;
            padding: 5px;
        }
        #select-img{
            cursor: pointer;
            img{
                width:5rem;
                height:5rem;
            }
        }
    }
}
#post-container::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width:600px){
    body{
        #post-container{
            width: 100%;
            height:98vh;
            margin:0px;  
        }
    }
}
