.dropbtn {
  background-color: #3498DB;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  padding: 20px;
  right: 0%;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 10px; }
  .dropdown-content a {
    color: #0a0a0a;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 18px; }

.dropdown a:hover {
  background-color: #477bf5; }

.show {
  display: block; }

.emoji-tooltip {
  display: none;
  position: absolute;
  top: -75%;
  padding: 10px; }
  .emoji-tooltip img {
    width: 30px; }

.toggle-like-button:hover .emoji-tooltip {
  display: flex; }
