.form {
  margin: 10% 0% 0% 38%;
  border-radius: 5px;
  width: 400px;
  float: center;
  background-color: white;
  padding: 20px; }
  .form h2 {
    text-align: center;
    font-weight: bold;
    color: #545b62; }
  .form input {
    padding: 1rem;
    margin-bottom: 2rem; }
  .form button {
    font-weight: 600; }
  .form img {
    width: 30px;
    height: 25px; }
  .form p {
    text-align: center; }

@media only screen and (max-width: 700px) {
  .form {
    width: 80%;
    margin: 20% 10%; } }
