#navbar {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #343a40 !important;
  z-index: 10; }
  #navbar #left-nav img {
    width: 300px;
    height: 300px; }
  #navbar #right-nav {
    display: flex;
    align-items: center;
    margin-right: 30px; }
    #navbar #right-nav #user-profile {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }
    #navbar #right-nav div {
      margin-right: 3rem; }
    #navbar #right-nav #request {
      position: absolute;
      color: white;
      z-index: 2;
      background-color: red;
      font-size: medium;
      font-weight: bold;
      padding: 3px;
      border-radius: 5px; }
    #navbar #right-nav #friends-list {
      list-style: none; }
      #navbar #right-nav #friends-list li > a {
        color: black;
        font-size: 20px; }
    #navbar #right-nav #user-without-login {
      width: 100%;
      display: flex;
      flex-direction: row-reverse; }
      #navbar #right-nav #user-without-login div {
        padding: 3px;
        background-color: #5fdcdce3;
        border: 1px solid;
        text-align: center;
        border-radius: 8px;
        width: 9rem;
        height: 4rem; }
        #navbar #right-nav #user-without-login div a {
          text-decoration: none;
          font-size: 35px;
          color: black; }
      #navbar #right-nav #user-without-login div:hover {
        background-color: #6937f5; }
        #navbar #right-nav #user-without-login div:hover a {
          color: whitesmoke; }
  #navbar .dropdown-item {
    font-size: 40px;
    word-wrap: break-word; }
