#post-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  display: inline-block;
  background-color: lightblue; }
  #post-container #posts-list-container {
    width: 100%;
    height: 90%;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    margin-top: 1rem; }
    #post-container #posts-list-container li {
      width: 100%;
      height: auto;
      padding: 20px 0px 0px 0px;
      background-color: white;
      box-sizing: border-box;
      margin-bottom: 1rem;
      border-radius: 5px;
      position: relative; }
      #post-container #posts-list-container li .post-menu-icon {
        position: absolute;
        top: 0;
        right: 15px;
        transform: rotate(90deg);
        cursor: pointer; }
        #post-container #posts-list-container li .post-menu-icon img {
          width: 50px;
          height: 50px; }
      #post-container #posts-list-container li .post-menu-option {
        position: absolute;
        display: none;
        top: 40px;
        right: 15px;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer; }
        #post-container #posts-list-container li .post-menu-option button {
          border: 2px solid lightgray;
          border-radius: 5px;
          width: 100%;
          padding: 5px;
          font-size: 40px; }
      #post-container #posts-list-container li .post-creater {
        font-weight: bold;
        margin: 20px 0 10px 20px; }
        #post-container #posts-list-container li .post-creater img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%; }
        #post-container #posts-list-container li .post-creater span {
          font-size: 30px;
          margin-left: 1rem; }
      #post-container #posts-list-container li .post-content {
        width: 100%;
        padding: 20px;
        font-size: 50px;
        margin-bottom: 1rem;
        border-bottom: 2px solid #252424; }
        #post-container #posts-list-container li .post-content div > img {
          width: 100%;
          height: 40%;
          background-size: contain; }
        #post-container #posts-list-container li .post-content div > video {
          width: 100%;
          height: 60%;
          background-color: black; }
      #post-container #posts-list-container li .post-action {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 1rem 3rem;
        border-bottom: 2px solid #252424; }
        #post-container #posts-list-container li .post-action span {
          margin-right: 1rem; }
          #post-container #posts-list-container li .post-action span img {
            width: 80px; }
          #post-container #posts-list-container li .post-action span a {
            font-size: 30px; }
      #post-container #posts-list-container li .post-comments {
        width: 100%;
        padding: 10px; }
        #post-container #posts-list-container li .post-comments form {
          padding: 5px;
          display: flex; }
          #post-container #posts-list-container li .post-comments form input {
            padding: 3rem;
            font-size: 40px; }
          #post-container #posts-list-container li .post-comments form .comment {
            width: 85%;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid lightgray; }
          #post-container #posts-list-container li .post-comments form button {
            border: none;
            background-color: white; }
        #post-container #posts-list-container li .post-comments .comments-container {
          list-style: none;
          padding: 30px;
          max-height: 30vh;
          overflow-y: scroll;
          border-radius: 5px; }
          #post-container #posts-list-container li .post-comments .comments-container .comment-list {
            padding: 0px 0px 3rem 2rem;
            margin-top: 20px;
            position: relative;
            box-shadow: none;
            margin-bottom: 10px;
            box-sizing: border-box; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list div {
              font-size: 30px;
              color: #686767;
              font-weight: bold;
              margin-bottom: 5px;
              position: absolute;
              top: -30%;
              left: -2%; }
              #post-container #posts-list-container li .post-comments .comments-container .comment-list div span img {
                width: 50px;
                height: 50px;
                border-radius: 50%; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list p {
              margin: 0px;
              width: fit-content;
              background-color: lightgrey;
              font-size: 27px;
              padding: 15px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 10px; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list small {
              position: absolute;
              top: 5px;
              right: 5px; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list a {
              font-size: 23px;
              margin-top: 10px;
              display: flex; }
              #post-container #posts-list-container li .post-comments .comments-container .comment-list a span {
                margin-right: 13px; }
        #post-container #posts-list-container li .post-comments ul::-webkit-scrollbar {
          display: none; }
  #post-container #create-post {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-sizing: border-box;
    padding: 2rem; }
    #post-container #create-post textarea {
      width: 100%;
      font-size: 40px;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 2px solid lightgray;
      border-radius: 5px; }
    #post-container #create-post .post-btn {
      width: 13rem;
      border-radius: 5px;
      background-color: #7f70ff;
      font-size: 30px;
      font-weight: 900;
      color: white;
      float: right;
      padding: 5px; }
    #post-container #create-post #select-img {
      cursor: pointer; }
      #post-container #create-post #select-img img {
        width: 5rem;
        height: 5rem; }

#post-container::-webkit-scrollbar {
  display: none; }

@media only screen and (max-width: 600px) {
  body #post-container {
    width: 100%;
    height: 98vh;
    margin: 0px; } }
