#post-container {
  width: 60%;
  margin-left: 20%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  display: inline-block;
  background-color: #dce6e9;
  padding: 0 2px; }
  #post-container #posts-list-container {
    width: 100%;
    height: 90%;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    margin-top: 1rem; }
    #post-container #posts-list-container li {
      width: 100%;
      height: auto;
      padding: 20px 0px 0px 0px;
      background-color: white;
      box-sizing: border-box;
      margin-bottom: 1rem;
      border-radius: 5px;
      position: relative;
      box-shadow: 0px 0px 4px -1px; }
      #post-container #posts-list-container li .post-menu-icon {
        position: absolute;
        top: 0;
        right: 15px;
        transform: rotate(90deg);
        cursor: pointer; }
      #post-container #posts-list-container li .post-menu-option {
        position: absolute;
        display: none;
        top: 20px;
        right: 15px;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer; }
        #post-container #posts-list-container li .post-menu-option button {
          border: 2px solid #585757;
          border-radius: 5px;
          font-size: 15px;
          padding: 5px; }
      #post-container #posts-list-container li .post-creater {
        font-weight: bold;
        margin-left: 15px; }
        #post-container #posts-list-container li .post-creater img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%; }
        #post-container #posts-list-container li .post-creater span {
          margin-left: 1rem; }
      #post-container #posts-list-container li .post-content {
        width: 100%;
        padding: 20px;
        margin-bottom: 5rem; }
        #post-container #posts-list-container li .post-content div > img {
          width: 100%;
          height: 70%;
          background-size: contain; }
        #post-container #posts-list-container li .post-content div > video {
          width: 100%;
          height: 60%;
          background-color: black; }
      #post-container #posts-list-container li .post-action {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 0rem 1rem;
        border-bottom: 1px solid #b4b4b4;
        border-top: 1px solid #b9b9b9;
        position: relative; }
        #post-container #posts-list-container li .post-action span {
          margin-right: 1rem; }
          #post-container #posts-list-container li .post-action span a {
            font-size: 18px;
            color: blue;
            text-decoration: none; }
      #post-container #posts-list-container li .post-comments {
        width: 100%;
        padding: 10px; }
        #post-container #posts-list-container li .post-comments form {
          padding: 5px;
          display: flex; }
          #post-container #posts-list-container li .post-comments form .comment {
            width: 85%;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid #7e7c7c;
            font-size: 16px; }
          #post-container #posts-list-container li .post-comments form button {
            border: none;
            background-color: white; }
        #post-container #posts-list-container li .post-comments .comments-container {
          display: none;
          list-style: none;
          max-height: 30vh;
          overflow-y: scroll;
          border-radius: 5px; }
          #post-container #posts-list-container li .post-comments .comments-container .comment-list {
            padding: 5px 0px 0px 4rem;
            margin-top: 3rem;
            position: relative;
            box-shadow: none;
            margin-bottom: 10px;
            box-sizing: border-box; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list div {
              color: #686767;
              font-weight: bold;
              margin-bottom: 5px;
              position: absolute;
              top: -40%;
              left: 1%; }
              #post-container #posts-list-container li .post-comments .comments-container .comment-list div span img {
                width: 30px;
                height: 30px;
                border-radius: 50%; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list p {
              margin: 0px;
              width: fit-content;
              background-color: lightgrey;
              padding: 8px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 10px; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list small {
              position: absolute;
              top: 5px;
              right: 5px; }
            #post-container #posts-list-container li .post-comments .comments-container .comment-list a {
              margin-top: 10px;
              text-decoration: none; }
              #post-container #posts-list-container li .post-comments .comments-container .comment-list a i {
                margin-right: 13px;
                position: relative;
                top: 0px; }
        #post-container #posts-list-container li .post-comments ul::-webkit-scrollbar {
          display: none; }
  #post-container #create-post {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0px 0px 3px 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    #post-container #create-post textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid #111111;
      border-radius: 10px; }
    #post-container #create-post .post-btn {
      border-radius: 5px;
      background-color: #7f70ff;
      font-weight: 900;
      color: white;
      float: right;
      padding: 5px 10px; }
    #post-container #create-post #select-img {
      cursor: pointer; }

#post-container::-webkit-scrollbar {
  display: none; }

@media only screen and (max-width: 800px) {
  body #post-container {
    width: 100%;
    margin: 0px;
    padding: 0; } }
