<h1>Eroschat</h1>
<br />
<h2>Hello,<%= user.name %></h2>
<br />
<p>To activate your account please confirm your email</p>
<a href="http://localhost:8000/email-confirmation/<%= user._id%>"><h3>confirm</h3></a>
